<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.diagnostics>
    <trace autoflush="true"></trace>
    <sources>
      <source name="Cities" switchName="1:ERROR">
        <listeners>
          <remove name="Default"></remove>
          <add name="console"></add>
          <add name ="file"></add>
        </listeners>
      </source>

      <source name="Routes" switchName="4:VERBOSE">
        <listeners>
          <remove name="Default"></remove>
          <add name ="file"></add>
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="0:OFF" value="Off"/>
      <add name="1:ERROR" value="Error"/>
      <add name="2:WARN" value="Warning"/>
      <add name="3:INFO" value="Information"/>
      <add name="4:VERBOSE" value="Verbose"/>
    </switches>

    <sharedListeners>
      <add name="console"
           type="System.Diagnostics.ConsoleTraceListener">
      </add>
      <add name="file"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="routeplanner.log">
      </add>
    </sharedListeners>
  </system.diagnostics>
  
</configuration>